.divider {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0 5px 0;
}

.divider::before {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background: #dfdfdf;
  z-index: 1;
}

.divider__label {
  position: relative;
  color: #c0c0c0;
  padding: 3px 10px;
  border: 1px solid #dfdfdf;
  border-radius: 12px;
  font-size: 12px;
  z-index: 2;
  background-color: white;
}
